<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="admin">
    <a href="/add_user"><button>Add User</button></a>
    <a href="/assign_task"><button>Assign Task</button></a>
    <a href="/download_excel_file"><button>Download Excel File</button></a>
  </div>
</body>
</html>